/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import "./app/layout/layout.component.scss";

@import "./app/layout/DangNhap/dang-nhap/dang-nhap.component.scss";

@import "./app/layout/home/home.component.scss";

@import "./app/layout/test/test-process/test-process.component.scss";
@import "./app/layout/test/test-process/test-question/test-question.component.scss";
