<div class="home-container">
  <div class="introduce">
    <h2 class="title">Practice your English grammar everyday with EnglishTest</h2>
    <div class="p-5">
      <div class="small-title">
        Login and join now!
      </div>
      <p-button label="Let go" icon="pi pi-chevron-circle-right" iconPos="right"></p-button>
    </div>
  </div>
  <div class="rank">
    <p-fieldset legend="Header">
      <p-scrollPanel [style]="{width: '100%', height: '100%'}">
          Content
      </p-scrollPanel>
    </p-fieldset>
  </div>
</div>
