<div class="home-container">
  <div class="introduce">
    <h2 class="title">Practice your English grammar everyday with EnglishTest</h2>
    <div class="p-5">
      <div class="small-title">
        Login and join now!
      </div>
      <p-button label="Let go" icon="pi pi-chevron-circle-right" iconPos="right"></p-button>
    </div>
  </div>
  <div class="rank">
    <p-fieldset legend="Leaderboard">

        <p-scrollPanel styleClass="custombar1">
          <div class="rank-content">
            <div class="d-flex">
              <div class="rankNumber">
                <img src="../../../assets/gold-medal.png" class="top1">
              </div>
              <div class="rankName">
                <p>Tuấn Nguyễn</p>
              </div>
              <div class="rankResult">
                <p>32:30</p>
                <p>30/30</p>
              </div>
            </div>

            <div class="d-flex">
              <div class="rankNumber">
                <img src="../../../assets/silver-medal.png" class="top2">
              </div>
              <div class="rankName">
                <p>Tuấn Nguyễn</p>
              </div>
              <div class="rankResult">
                <p>32:30</p>
                <p>29/30</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="rankNumber">
                <img src="../../../assets/medal.png" class="top3">
              </div>
              <div class="rankName">
                <p>Tuấn Nguyễn</p>
              </div>
              <div class="rankResult">
                <p>32:30</p>
                <p>29/30</p>
              </div>
            </div>
          </div>
        </p-scrollPanel>

    </p-fieldset>
  </div>
</div>
