<div class="layout-container">
  <p-menubar>
    <ng-template pTemplate="start">
      <img src="./assets/logo.png" class="logo" [routerLink]="['/']">
    </ng-template>
    <ng-template pTemplate="end" ng-show="isLogin = false">
      <ng-container *ngIf="isLogin; then logged else notLogin"></ng-container>
      <!-- [pTemplate]="mediaWidth > 960? 'end' : ''" -->
    </ng-template>
    <ng-template #notLogin>
      <div class="btn btn-outline-primary login-link" [routerLink]="['/login']">
        <span class="">Login</span>
      </div>
      <span class="mx-2 text-primary">|</span>
      <div class="btn btn-outline-primary login-link" [routerLink]="['/register']">
        <span class="">Sign Up</span>
      </div>
    </ng-template>
    <ng-template #logged>
      <!-- [routerLink]="['/infoUser']" -->
      <div class="login-link btn btn-link"  >
        <span class="">Hello, {{fullname}}</span>
      </div>
      <span class="mx-2 text-primary">|</span>
      <div class="login-link btn btn-link" (click)="logout()">
        <span class="">Logout</span>
      </div>
    </ng-template>
  </p-menubar>
  <div class="layout-content">
    <router-outlet (activate)="checkLogin()"></router-outlet>
  </div>
</div>
