.home-container{
  background-image: linear-gradient( 145deg, #ebf7ff 10%, #60a3bc 100%);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .p-element .p-menubar{
    padding: 0.5rem 15%;
  }
  .logo{
    margin: 10px 0;
    height: 7vh;
    cursor: pointer;
  }
  .login-link{
    font-weight: bold;
    font-size: 2.1vh;
    padding-bottom: 8px;
    //color: #3498db;
  }
  .p-megamenu-start{
    width: auto !important;
  }
}
