
  <div class="content-wrapper">
    <div class="content">
      <nz-spin [nzSpinning]="isSpinning">
        <div class="signup-wrapper shadow-box">
          <div class="signup-form ">
            <div class="wrapper-2">
                <div class="form-title">Sign up to day!</div>
                <div class="form">
                    <form [formGroup] = "inforUser">
                        <div class="content-item">
                          <label>full name
                              <input type="text" name="name" formControlName="fullName" >
                          </label>
                          <div *ngIf="!inforUser.controls['fullName'].valid" class="warning">
                            <small class="form-text">Please Enter FullName</small>
                          </div>
                        </div>

                        <div class="content-item">
                            <label>User name
                                <input type="text" name="username" formControlName="userName" >
                            </label>
                            <div *ngIf="!inforUser.controls['userName'].valid" class="warning">
                              <small class="form-text">Please Enter UserName</small>
                          </div>
                        </div>

                        <div class="content-item">
                          <label>email address
                              <input type="text" name="email" formControlName="email" >
                          </label>
                          <div *ngIf="!inforUser.controls['email'].valid" class="warning">
                              <small class="form-text">Email Not Null</small>
                          </div>
                        </div>

                        <div class="content-item">
                            <label>password
                                <input type="password" name="password" formControlName="password" >
                            </label>
                            <div *ngIf="!inforUser.controls['password'].valid" class="warning">
                              <small class="form-text">PassWord Invalid</small>
                          </div>
                        </div>
                        <div class="alert alert-danger message" role="alert" *ngIf="signUpErr">
                          {{signUpErr}}!!
                        </div>
                        <button type="button" (click)="signUp()" [disabled]="!inforUser.valid" class="btn btn-primary signup">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
            <div class="company-details ">
                <div class="shadow"></div>
                <div class="wrapper-1">
                    <div class="logo">
                    <div class="icon-logo">
                </div>
                </div>
                    <h1 class="title">English</h1>
                    <div class="slogan">How to learn good?</div>
                </div>
            </div>
        </div>
      </nz-spin>
    </div>
</div>


