.question{
  height: 40%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option{
  height: 60%;
  padding: 20px 40px;
  .p-button{
    height: 100%;
    width: 100%;

  }
}
