.question{
  height: 40%;
  padding: 20px;
  background: rgba(251, 255, 0, 0.551);
  display: flex;
  justify-content: center;
  align-items: center;
}
.option{
  height: 60%;
  padding: 20px;
  background: rgba(0, 115, 255, 0.352);
}
