.question{
  height: 40%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option{
  height: 60%;
  padding: 20px 40px;
  .p-button{
    height: 100%;
    width: 100%;
  }
  .p-ripple.p-element.p-button.p-togglebutton.p-component{
    box-shadow: rgb(0 0 0 / 15%) 0px -0.25rem 0px 0px inset;
  }
  p-toggleButton .p-button-label{
    font-weight: bold;
  }
}
