.question-container{
  position: relative;
  height: calc(100% - 70px);
  .time{
    position: absolute;
    right: 0;
    margin: 10px;
    color: #00000085;
    font-weight: bold;
    font-size: 20px;
    .timeTitle{
      text-align: right;
    }

  }
  .next-back-btn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 40%;
    .p-button-icon.pi-caret-right{
      margin-left: 3px;
    }
    .p-button-icon.pi-caret-left{
      margin-right: 3px;
    }
  }
}
