<div class="h-100 d-flex flex-column justify-content-center" *ngIf="processBar">
  <p-progressBar mode="indeterminate" [style]="{'height': '10px', 'margin': '0 100px'}"></p-progressBar>
</div>
<div class="h-100" *ngIf="!processBar">
  <p-tabMenu [model]="questions" [scrollable]="true" [activeItem]="activeItem"></p-tabMenu>
  <div class="question-container">
    <div class="time">
      <p class="timeTitle">Time</p>
      <countdown #cd [config]="countdownConfig"></countdown>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

