.question-container{
  position: relative;
  height: calc(100% - 70px);
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
    background: rgb(242 242 241);
  }
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus{
    box-shadow: none;
  }
  .time{
    display: flex;
    flex-direction: column;
    background: #3498db;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 9%;
    margin: 10px;
    font-weight: bold;
    font-size: 26px;
    .count-down{
      text-align: center;
      color: #fff;
    }
    .btn{
      font-weight: bold;
      border: 2px solid #f8f9fa;
    }
    .btn-outline-light:focus , .btn-outline-light:hover{
      background: #f8f9fa;
      color: #3498db;
    }
  }
  .next-back-btn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 65%;
    .p-button{
      background: #fff;
    }
    .p-button-icon.pi-caret-right{
      margin-left: 3px;
    }
    .p-button-icon.pi-caret-left{
      margin-right: 3px;
    }
  }
}
