<div class="h-100 d-flex flex-column justify-content-center" *ngIf="processBar">
  <p-progressBar mode="indeterminate" [style]="{'height': '10px', 'margin': '0 100px'}"></p-progressBar>
</div>
<div class="h-100" *ngIf="!processBar">
  <p-tabMenu [model]="tabs" [scrollable]="true" [activeItem]="activeTab"></p-tabMenu>
  <div class="question-container">
    <div class="time">
      <p class="timeTitle">Time</p>
      <countdown #cd [config]="countdownConfig"></countdown>
    </div>
    <div class="next-back-btn">
      <button pButton pRipple type="button" icon="pi pi-caret-left"
        class="p-button-rounded p-button-outlined" [disabled]="tabIndex == 1" (click)="nextbackBtnFunction(false)">
      </button>
      <button pButton pRipple type="button" icon="pi pi-caret-right"
        class="p-button-rounded p-button-outlined" [disabled]="tabIndex == 30" (click)="nextbackBtnFunction(true)">
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

