.infoUser-container{
  background: #fff;
  margin: 0 3%;
  padding: 20px;
  border: solid 4px #59b2ed;
  border-radius: 5px;
  height: calc(100vh - 137px);
  max-height: 608px;
  min-height: 360px;
  min-width: 1024px;
  nz-tabset{
    width: 100%;
    .info-tab{
      width: 50%;
    }
    .history-tab{
      ul{
        list-style: none;
        li{
          width: 50%;
          }
      }
      overflow-y: scroll;
    }
  }
}

