
  <div class="content-wrapper">
    <div class="content">
        <div class="signup-wrapper shadow-box">
            <div class="company-details ">
                <div class="shadow"></div>
                <div class="wrapper-1">
                    <div class="logo">
                    <div class="icon-logo">
                </div>
                </div>
                    <h1 class="title">English</h1>
                    <div class="slogan">How to learn good?</div>
                </div>
            </div>
            <div class="signup-form ">
                <div class="wrapper-2">
                    <div class="form-title">Login</div>
                    <div class="form">
                        <form [formGroup] = "inforUser">
                            <div class="content-item">
                                <label>UserName
                                    <input type="text" name="username" formControlName="userName" />
                                </label>
                                <div *ngIf="!inforUser.controls['userName'].valid" class="warning">
                                  <small class="form-text">Please Enter UserName</small>
                                </div>
                            </div>

                            <div class="content-item">
                                <label>password
                                    <input type="password" name="password" formControlName="password" />
                                </label>
                                <div *ngIf="!inforUser.controls['password'].valid" class="warning">
                                  <small class="form-text">Please Enter PassWord</small>
                                </div>
                            </div>
                            <div class="alert alert-danger message" role="alert" *ngIf="isBoolean == false">
                              User name or password is invalid!
                            </div>
                            <button type="submit" (click)="login()"  class="signup">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  -->
